<div id="footer">
        <!-- 960 Container -->
    <div class="container">

            <!-- About -->
        <div class="four columns">
            <div class="footer-headline"><h4>About Me</h4></div>
            <p>I am Luis Fontes, algebra student and functional programmer.</p>
            <p>At present I am interested in Hopf algebras, Axiom of Choice and some other math fields. Beside math, I like Ludwig Wittgenstein, photography and wine tasting.</p>
        </div>

            <!-- Useful Links -->
        <div class="four columns">
            <div class="footer-headline"><h4>Useful Links</h4></div>
            <ul class="links-list">
                <li><a href="http://math.ucr.edu/home/baez/">John Baez's Stuff</a></li>
                <li><a href="https://golem.ph.utexas.edu/category/">The n-category Café</a></li>
                <li><a href="https://www.coursera.org/instructor/~275">Learning Scala in coursera</a></li>
                <li><a href="https://twitter.github.io/scala_school/">Twitter Scala School</a></li>
                <li><a href="http://think-like-a-git.net/">Think like a Git</a></li>
                <li><a href="http://magma.maths.usyd.edu.au/magma/">Magma Computational Algebra System</a></li>
                <li><a href="https://math.dartmouth.edu/~jvoight/">John Voight website</a></li>
            </ul>
        </div>

            <!-- Photo Stream -->
        <div class="four columns">
            <div class="footer-headline"><h4>About this place</h4></div>
            <p>This is as a functional computational algebra exercise.</p>
            <p>Our main goal is learning computational algebra and have lot of fun with it.</p>
            <p>Anyone interested in algebra and functional programming is welcome</p>
        </div>

            <!-- Latest Tweets -->
        <div class="four columns">
            <div class="footer-headline"><h4>Learning resources</h4></div>
            <ul class="links-list">
                <li><a href="http://math.ucr.edu/home/baez/">Algebra</a></li>
                <li><a href="https://golem.ph.utexas.edu/category/">Scala</a></li>
                <li><a href="https://www.coursera.org/instructor/~275">Learning Scala in coursera</a></li>
                <li><a href="https://twitter.github.io/scala_school/">Play framework</a></li>
                <li><a href="http://think-like-a-git.net/">Think like a Git</a></li>
                <li><a href="http://magma.maths.usyd.edu.au/magma/">Magma Computational Algebra System</a></li>
                <li><a href="https://math.dartmouth.edu/~jvoight/">John Voight website</a></li>
            </ul>
        </div>

            <!-- Footer / Bottom -->
        <div class="sixteen columns">
            <div id="footer-bottom">
				Web design and content by <a href="mailto:luis2@@zplot.com">Luis Fontes</a>. Feel free to send us comments and improvements. Thank you.
                <div id="scroll-top-top"><a href="#"></a></div>
			</div>
        </div>

    </div>
        <!-- 960 Container / End -->

</div>