@(salida: GeneralOutput.PageContent)
<!--Página general de presentación de resultados -->




<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
    <head>

            <!-- Typekit fonts
================================================== -->
        <script src="https://use.typekit.net/cju7woz.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

            <!-- Basic Page Needs
================================================== -->
        <meta charset="utf-8">
        <title>@salida.extraFields.title</title>

            <!-- Mobile Specific
================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

            <!-- CSS
================================================== -->
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/style.css")'>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/boxed.css")'>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/colors/green.css")'>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/custom.css")'>


            <!-- Java Script
================================================== -->



        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src='@routes.Assets.at("javascripts/custom.js")'></script>
        <script src='@routes.Assets.at("javascripts/selectnav.js")'></script>
        <script src='@routes.Assets.at("javascripts/flexslider.js")'></script>
        <script src='@routes.Assets.at("javascripts/twitter.js")'></script>
        <script src='@routes.Assets.at("javascripts/tooltip.js")'></script>
        <script src='@routes.Assets.at("javascripts/effects.js")'></script>
        <script src='@routes.Assets.at("javascripts/fancybox.js")'></script>
        <script src='@routes.Assets.at("javascripts/carousel.js")'></script>
        <script src='@routes.Assets.at("javascripts/isotope.js")'></script>
        <script src='@routes.Assets.at("javascripts/jquery-easing-1.3.js")'></script>
        <script src='@routes.Assets.at("javascripts/jquery-transit-modified.js")'></script>
        <script src='@routes.Assets.at("javascripts/layerslider.transitions.js")'></script>
        <script src='@routes.Assets.at("javascripts/layerslider.kreaturamedia.jquery.js")'></script>
        <script src='@routes.Assets.at("javascripts/greensock.js")'></script>


            <!-- MathJax Script
================================================== -->

        <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
        <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
        </script>


    </head>
    <body>

            <!-- Wrapper Start -->
        <div id="wrapper">


            @headernav()

                <!-- Content
================================================== -->
                <!-- 960 Container -->
            <div class="container">

                <div class="sixteen columns">

                        <!-- Page Title -->
                    <div id="page-title">
                        <h2>@salida.extraFields.notebook<span>/ @salida.extraFields.page</span></h2>

                            <!-- Portfolio Navi -->
                        <div id="portfolio-navi">

                        </div>
                        <div class="clear"></div>

                        <div id="bolded-line"></div>
                    </div>
                        <!-- Page Title / End -->

                </div>
            </div>
                <!-- 960 Container / End -->


                <!-- 960 Container -->
                <!-- LayerSlider Container -->
            <div class="layerslider-container">

                    <!-- LayerSlider / Start -->
                    <!-- <div id="layerslider" style="width: 1180px; height: 500px; margin: 0 auto;"> -->
                    <!--  <div id="layerslider" style="width: 1180px; height: 1200px; margin: 0 auto;"> -->
                <div id="layerslider" style="width: 1180px; height: @(((salida.lineas + 6) * 18 + 24).toString + "px"); margin: 0 auto;">

                        <!-- Slide #1 -->
                    <div class="ls-slide" style="transition2d: 2; timeshift: -1000; slidedelay: 15000;">

                            <!-- Background -->
                        <img class="ls-bg" src='@routes.Assets.at("images/portfolio/blackboard1200.jpg")' alt="John Horton Conway">


                        <div class="slide-caption alt ls-s1" style="up: 0px; width: 1108px; slidedirection: left; slideoutdirection: left; durationin: 1000; durationout: 800; delayin: 1000; delayout: 0;" data-ls="
					offsetxin: 0;
					offsetxout: 300;
					offsetyin: top;
					offsetyout: 300;
					durationin: 2000;
					durationout: 2000;
					delayin: 2000;
					rotateyin: 60;
				">




                            <div>
                                <h5 class="class2">@salida.extraFields.title</h5>
                                <br />

                                <table class="outputtable">
                                @for(row <- salida.contenido) {
                                    <tr>
                                    @for(element <- row) {
                                        <td class="outputtd">@element</td>
                                    }
                                    </tr>
                                }
                                </table>

                            </div>







                        </div>

                    </div>

                </div>

            </div>

            <div class="container" style="margin-top: 30px;">

                <div class="four columns">
                    <ul class="project-info">
                        <li><strong>Subject: </strong>@salida.extraFields.subject</li>
                        <li><strong>Project: </strong>@salida.extraFields.project</li>
                    </ul>
                    <a href="@salida.extraFields.references" class="button color launch">References</a>
                </div>

                <div class="twelve columns tooltips">
                    <div class="six columns alpha"><p>@salida.extraFields.text1</p></div>
                    <div class="six columns alpha"><p>@salida.extraFields.text2</p></div>
                </div>

            </div>
                <!-- End 960 Container -->


                <!-- 960 Container -->
            <div class="container">

                <div class="sixteen columns">
                        <!-- Headline -->
                    <div class="headline" style="margin-top: 5px;"><h3>Other topics</h3></div>
                </div>

                    <!-- 1/4 Column -->
                <div class="four columns">
                    <div class="picture"><a href="single_project.html"><img src='@routes.Assets.at("images/460x290/groups.jpg")' alt="Groups"/><div class="image-overlay-link"></div></a></div>
                    <div class="item-description related">
                        <h5><a href="single_project.html">Hopf algebras</a></h5>
                        <p>Classical examples as Group Rings, Polynomial spaces, etc.</p>
                    </div>
                </div>

                    <!-- 1/4 Column -->
                <div class="four columns">
                    <div class="picture"><a href="single_project.html"><img src='@routes.Assets.at("images/460x290/group_rings.jpg")' alt="Group Rings"/><div class="image-overlay-link"></div></a></div>
                    <div class="item-description related">
                        <h5><a href="single_project.html">Group Rings</a></h5>
                        <p>Let \(G\) be a group and \(R\) a ring. We denote by \(RG\) the set of all formal linear combinations of the form \[\alpha  = \sum\limits_{g \in G} {\alpha (g)g} \]</p>
                    </div>
                </div>

                    <!-- 1/4 Column -->
                <div class="four columns">
                    <div class="picture"><a href="single_project.html"><img src='@routes.Assets.at("images/460x290/finite_fields.jpg")' alt="Finite Fields"/><div class="image-overlay-link"></div></a></div>
                    <div class="item-description related">
                        <h5><a href="single_project.html">Finite Fields</a></h5>
                        <p>Calculus with finite fields of \({\mathop p\nolimits^n }\) elements</p>
                    </div>
                </div>

                    <!-- 1/4 Column -->
                <div class="four columns">
                    <div class="picture"><a href="single_project.html"><img src='@routes.Assets.at("images/460x290/polynomials.jpg")' alt="Polynomials"/><div class="image-overlay-link"></div></a></div>
                    <div class="item-description related">
                        <h5><a href="single_project.html">Polynomials</a></h5>
                        <p>Calculus with polynomials over commutative rings, including Galois fields.</p>
                    </div>
                </div>

            </div>
                <!-- 960 Container / End -->


        </div>

        @footer1()

    </body>
</html>