<!-- Header
================================================== -->

<!-- 960 Container -->
<div class="container ie-dropdown-fix">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<div class="eight columns">
			<div id="logo">
				<a href="#"><img src='@routes.Assets.at("images/logo2.png")' alt="logo" /></a>
				<div id="tagline">Algebra & Functional Code</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="eight columns">

			<!-- Social Icons -->
			<ul class="social-icons">
				<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
				<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
				<li><a class="github" href="#"><i class="icon-github"></i></a></li>
				<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
			</ul>

			<div class="clear"></div>

			<!-- Contact Details -->
			<div id="contact-details">
				<ul>
					<li><i class="fa  fa-envelope"></i><a href="mailto:luis2@@zplot.com">luis2@@zplot.com</a></li>
						<!-- <li><i class="fa fa-phone"></i>+34 696 903 088</li> -->
				</ul>
			</div>

		</div>

	</div>
	<!-- Header / End -->

	<!-- Navigation -->
	<div class="sixteen columns">

		<div id="navigation">
			<ul id="nav">

				<li><a id="current" href="/">Home</a></li>

				<li><a href="#">Algebra</a>
					<ul>
					<li><a href="hopf_algebras.html">Hopf algebras</a></li>
					<li><a href="choice_axiom.html">Choice Axion</a></li>
					<li><a href="group_rings.html">Units in Group Rings</a></li>
					<li><a href="quantum_groups.html">Quantum Groups</a></li>
					<li><a href="computational_algebra.html">Computational algebra</a></li>
					</ul>
				</li>

                <li><a href="#">Code</a>
                    <ul>
                        <li><a href="algebra_hopf.html">Scala</a></li>
                        <li><a href="about-us.html">Play Framework</a></li>
                        <li><a href="services.html">Functional programming</a></li>
                    </ul>
                </li>
                <li><a href="#">Algebra Labs</a>
                    <ul>
                        <li><a href="cayleytablec">Caylay Table of a Finite Group</a></li>
                        <li><a href="general">Testing general output</a></li>
                        <li><a href="cayley">Caylay Table of a Finite Group versión general</a></li>
                        <li><a href="rootedtrees">Rooted trees</a></li>
                        <li><a href="flexslider.html">FlexSlider</a></li>
                    </ul>
                </li>

                <li><a href="#">Resources</a>
                    <ul>
                        <li><a href="#">Algebra</a>
                            <ul>
                                <li><a href="sidebar_right.html">Hopf algebras</a></li>
                                <li><a href="sidebar_left.html">Group Rings</a></li>

                            </ul>
                        </li>

                        <li><a href="#">Code</a>
                            <ul>
                                <li><a href="sidebar_right.html">Sidebar Right</a></li>
                                <li><a href="sidebar_left.html">Sidebar Left</a></li>
                                <li><a href="blog_post.html">Single Post</a></li>
                                <li><a href="single_project.html">Single Project</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
				<li><a href="http://acblog.zplot.com/">Blog</a></li>
				<li><a href="#">Other topics</a>
					<ul>
						<li><a href="#">Photography</a>
							<ul>
								<li><a href="sidebar_right.html">Hopf algebras</a></li>
								<li><a href="sidebar_left.html">Group Rings</a></li>

							</ul>
						</li>

						<li><a href="#">Witgenstein</a>
							<ul>
								<li><a href="sidebar_right.html">Sidebar Right</a></li>
								<li><a href="sidebar_left.html">Sidebar Left</a></li>
								<li><a href="blog_post.html">Single Post</a></li>
								<li><a href="single_project.html">Single Project</a></li>
							</ul>
						</li>
						<li><a href="#">Wine</a>
							<ul>
								<li><a href="sidebar_right.html">Sidebar Right</a></li>
								<li><a href="sidebar_left.html">Sidebar Left</a></li>
								<li><a href="blog_post.html">Single Post</a></li>
								<li><a href="single_project.html">Single Project</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>

			</ul>

			<!-- Search Form -->
				<!-- <div class="search-form">
				<form method="get" action="#">
					<input type="text" class="search-text-box" />
				</form>
			</div> -->

		</div>
		<div class="clear"></div>

	</div>
	<!-- Navigation / End -->

</div>
<!-- 960 Container / End -->
