<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

        <!-- Typekit fonts
================================================== -->
    <script src="https://use.typekit.net/cju7woz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>Algebra CODE</title>

<!-- Mobile Specific
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/style.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/boxed.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/colors/green.css")'>

<!-- Java Script
================================================== -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src='@routes.Assets.at("javascripts/custom.js")'></script>
	<script src='@routes.Assets.at("javascripts/selectnav.js")'></script>
	<script src='@routes.Assets.at("javascripts/flexslider.js")'></script>
	<script src='@routes.Assets.at("javascripts/twitter.js")'></script>
	<script src='@routes.Assets.at("javascripts/tooltip.js")'></script>
	<script src='@routes.Assets.at("javascripts/effects.js")'></script>
	<script src='@routes.Assets.at("javascripts/fancybox.js")'></script>
	<script src='@routes.Assets.at("javascripts/carousel.js")'></script>
	<script src='@routes.Assets.at("javascripts/isotope.js")'></script>
	<script src='@routes.Assets.at("javascripts/jquery-easing-1.3.js")'></script>
	<script src='@routes.Assets.at("javascripts/jquery-transit-modified.js")'></script>
	<script src='@routes.Assets.at("javascripts/layerslider.transitions.js")'></script>
	<script src='@routes.Assets.at("javascripts/layerslider.kreaturamedia.jquery.js")'></script>
	<script src='@routes.Assets.at("javascripts/greensock.js")'></script>




</head>
<body>

<!-- Wrapper Start -->
<div id="wrapper">


    @headernav()


        <!-- Content
================================================== -->

        <!-- LayerSlider Container -->
    <div class="layerslider-container">

            <!-- LayerSlider / Start -->
        <div id="layerslider" style="width: 1180px; height: 500px; margin: 0 auto;">

                <!-- Slide #1 -->
            <div class="ls-slide" style="transition2d: 67; timeshift: -1000; slidedelay: 7000;">

                    <!-- Background -->
                <img class="ls-bg" src="images/slider-img-01.jpg" alt="" >

                <div class="slide-caption ls-s1" style="left: 30px; width: 29%; slidedirection: bottom; slideoutdirection: bottom; durationin: 800; durationout: 800; delayin: 0; delayout: 0;">
                    <h3>This is a caption</h3>
                    <p>Donec scelerisque aliquet mi, non venenatis urnas iaculis. Utea id nila ante. Cras est massa, interdum  ateal imperdiet etean, gravida volutpat hendrerit quame. Aeneana volutpat hendrerit posuere.</p>
                </div>

            </div>

                <!-- Slide #2 -->
            <div class="ls-slide" style="transition2d: 3; timeshift: -500; slidedelay: 7000;">

                    <!-- Background -->
                <img class="ls-bg" src="images/slider-img-02.jpg" alt="">

                <div class="slide-caption alt ls-s1" style="left: 0; top: 0; height: 100%; width: 27%; slidedirection: left; slideoutdirection: left; durationin: 800; durationout: 800; delayin: 0; delayout: 0;">
                    <h3>New LayerSlider <br /> With Awesome Features</h3>
                    <p>Donec scelerisque aliquet mi, non venenatis urnas iaculis. Utea id nila ante. Cras est massa, interdum ateal imperdiet etean, gravida eu quame. Aeneana volutpat hendrerit posuere. Aliquam rutrum mattis mollis.</p>
                </div>

            </div>

                <!-- Slide #3 -->
            <div class="ls-slide" style="transition2d: 5; slidedelay: 7000;">

                    <!-- Background -->
                <img class="ls-bg" src="images/slider-img-03.jpg" alt="">

            </div>

        </div>
            <!-- LayerSlider / End -->

    </div>
        <!-- LayerSlider Container / End -->


        <!-- Featured Boxes
================================================== -->
        <!-- Container -->
    <div class="container">
        <div class="featured-boxes homepage">

            <div class="one-third column">

                    <!-- Featured Box -->
                <div class="featured-box">
                    <div class="circle"><i class="fa fa-paint-brush"></i><span></span></div>
                    <div class="featured-desc">
                        <h3>Clean Design</h3>
                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora suscipit maecenas entum suscipit posuere tincidunt.</p>
                    </div>
                </div>

            </div>

            <div class="one-third column">

                    <!-- Featured Box -->
                <div class="featured-box">
                    <div class="circle"><i class="fa fa-cogs"></i><span></span></div>
                    <div class="featured-desc">
                        <h3>Responsive</h3>
                        <p>Nam aliquam volutpat leo bibendum nunc elit purus, tempus pulvinare rhoncus suscipit maecenas egestas nibh volutpat leo.</p>
                    </div>
                </div>

            </div>

            <div class="one-third column">

                    <!-- Featured Box -->
                <div class="featured-box homepage">
                    <div class="circle"><i class="fa fa-magic"></i></i><span></span></div>
                    <div class="featured-desc">
                        <h3>Retina Ready</h3>
                        <p>Fusce porttitor turpis quis molestie costant equat. Nam purus, suscipit maecenas tincidunt sedeat dapibus ugravida ut dui. </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
        <!-- Container / End -->


        <!-- Testimonials -->
    <div id="testimonials">
            <!-- Slider -->
        <div class="container">
            <div class="sixteen columns">
                <div class="testimonials-slider">
                    <ul class="slides">
                        <li>
                            <p>A clean looking and slick working template - helpful support received before and after buying from the author. I found Vasterad to be a class act when it comes to providing customer service.
                                <span>MickF</span></p>
                        </li>

                        <li>
                            <p>This template is very easy to work with and the visuals work well with pcs, tablets, and phones. This is a very modern and clean template. Very well worth the price. It's easy to customize as well. Major thumbs up!
                                <span>bwood84</span></p>
                        </li>

                        <li>
                            <p>Did get very quick responses on the bugs I did notice for. That kind of service deserves full rating!!!
                                <span>DonQuicky</span></p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


        <!-- 960 Container -->
    <div class="container">

        <div class="sixteen columns">
                <!-- Headline -->
            <div class="headline no-margin"><h3>Recent Work</h3></div>
        </div>

            <!-- Project -->
        <div class="four columns">
            <div class="picture"><a href="single_project.html"><img src="images/portfolio/portoflio-09.jpg" alt=""/><div class="image-overlay-link"></div></a></div>
            <div class="item-description">
                <h5><a href="#">Touch Gestures</a></h5>
                <p>Mauris sit amet ligula est, eget conseact etur lectus maecenas hendrerit suscipit.</p>
            </div>
        </div>

            <!-- Project -->
        <div class="four columns">
            <div class="picture"><a href="images/portfolio/portoflio-08-large.jpg" rel="image" title="Coffee Time"><img src="images/portfolio/portoflio-08.jpg" alt=""/><div class="image-overlay-zoom"></div></a></div>
            <div class="item-description">
                <h5><a href="#">Coffee Time</a></h5>
                <p>Amet sit lorem ligula est, eget conseact etur lectus hendrerit suscipit maecenas.</p>
            </div>
        </div>

            <!-- Project -->
        <div class="four columns">
            <div class="picture"><a href="single_project.html"><img src="images/portfolio/portoflio-10.jpg" alt=""/><div class="image-overlay-link"></div></a></div>
            <div class="item-description">
                <h5><a href="#">Surfing The Web</a></h5>
                <p>Lorem sit amet ligula est, eget conseact etur lectus maecenas hendrerit suscipit.</p>
            </div>
        </div>

            <!-- Project -->
        <div class="four columns">
            <div class="picture"><a href="single_project.html"><img src="images/portfolio/portoflio-07.jpg" alt=""/><div class="image-overlay-link"></div></a></div>
            <div class="item-description">
                <h5><a href="#">Wireless Keyboard</a></h5>
                <p>Ligula mauris sit amet est eget consat etur lectus maecenas hendrerit suscipit.</p>
            </div>
        </div>

    </div>
        <!-- 960 Container / End -->


        <!-- 960 Container -->
    <div class="container">
        <div class="sixteen columns">

                <!-- Headline -->
            <div class="headline no-margin"><h3>Our Clients</h3></div>

            <ul class="client-list">
                <li><img src="images/logo-01.png" alt=""/></li>
                <li><img src="images/logo-02.png" alt=""/></li>
                <li><img src="images/logo-03.png" alt=""/></li>
                <li><img src="images/logo-04.png" alt=""/></li>
                <li><img src="images/logo-05.png" alt=""/></li>
            </ul>

        </div>
    </div>

        <!-- 960 Container / End -->
        <!-- Infobox -->
    <div class="infobox">
        <div class="container">
            <div class="sixteen columns">Start Building Your Site With Centum <a href="my-account.html">Buy Now</a></div>
        </div>
    </div>

</div>
        <!-- Wrapper / End -->


        <!-- Footer
================================================== -->

        <!-- Footer Start -->
    @footer1()
        <!-- Footer / End -->





</body>
</html>