<!-- LayerSlider Container -->
<div class="layerslider-container">

        <!-- LayerSlider / Start -->
    <div id="layerslider" style="width: 1180px; height: 500px; margin: 0 auto;">

            <!-- Slide #1 -->
        <div class="ls-slide" style="transition2d: 2; timeshift: -1000; slidedelay: 15000;">

                <!-- Background -->
            <img class="ls-bg" src='@routes.Assets.at("images/conway.jpg")' alt="John Horton Conway">


            <div class="slide-caption alt ls-s1" style="up: 0px; width: 45%; slidedirection: left; slideoutdirection: left; durationin: 1000; durationout: 800; delayin: 1000; delayout: 0;" data-ls="
					offsetxin: 0;
					offsetxout: 300;
					offsetyin: top;
					offsetyout: 300;
					durationin: 2000;
					durationout: 2000;
					delayin: 2000;
					rotateyin: 60;
				">
                <h3>John Horton Conway</h3>
                <p class="fields">Group theory, number theory, geometry.</p>
                <p class="university">Princeton University</p>
                <p class="mathquote">Some people believe that mathematics is what we think it is and it's created by our thoughts. I don't. I'm a Platonist at heart, although I know there are very great difficulties with that view.</p>
            </div>

        </div>

            <!-- Slide #2 -->
        <div class="ls-slide" style="transition2d: 2; timeshift: -500; slidedelay: 15000;">

                <!-- Background -->
            <img class="ls-bg" src='@routes.Assets.at("images/atiyah.jpg")' alt="Sir Michael Francis Atiyah">

            <div class="slide-caption alt ls-s1" style="up: 0px; width: 45%; slidedirection: left; slideoutdirection: left; durationin: 1000; durationout: 800; delayin: 1000; delayout: 0;" data-ls="
					offsetxin: 0;
					offsetxout: 300;
					offsetyin: top;
					offsetyout: 300;
					durationin: 2000;
					durationout: 2000;
					delayin: 2000;
					rotateyin: 60;
				">
                <h3>Sir Michael Francis Atiyah</h3>
                <p class="fields">Algebraic topology, algebraic geometry</p>
                <p class="university">Former Master of Trinity College, University of Cambridge</p>
                <p class="mathquote">Mathematicians are generally thought of as some king of intellectual machine, a great brain than crunches numbers and spits out theorems. In fact we are, as Hermann Weyl said, more like creative artists..</p>
            </div>

        </div>

            <!-- Slide #3 -->
        <div class="ls-slide" style="transition2d: 2; slidedelay: 15000;">

                <!-- Background -->
            <img class="ls-bg" src='@routes.Assets.at("images/connes.jpg")' alt="Alain Connes">

            <div class="slide-caption alt ls-s1" style="up: 0px; width: 45%; slidedirection: left; slideoutdirection: left; durationin: 1000; durationout: 800; delayin: 1000; delayout: 0;" data-ls="
					offsetxin: 0;
					offsetxout: 300;
					offsetyin: top;
					offsetyout: 300;
					durationin: 2000;
					durationout: 2000;
					delayin: 2000;
					rotateyin: 60;
				">
                <h3>Alain Connes</h3>
                <p class="fields">Noncommutative geometry</p>
                <p class="university">Collège de France</p>
                <p class="mathquote">At some point you have to realize that wheather something is written in a book or not doesn't matter. What matters is wether you have a proof and wether you are sure of it.</p>
            </div>

        </div>
            <!-- Slide #4 -->
        <div class="ls-slide" style="transition2d: 2; slidedelay: 15000;">

                <!-- Background -->
            <img class="ls-bg" src='@routes.Assets.at("images/wittgenstein.jpg")' alt="Ludwig Wittgenstein">

            <div class="slide-caption alt ls-s1" style="up: 0px; width: 45%; slidedirection: left; slideoutdirection: left; durationin: 1000; durationout: 800; delayin: 1000; delayout: 0;" data-ls="
					offsetxin: 0;
					offsetxout: 300;
					offsetyin: top;
					offsetyout: 300;
					durationin: 2000;
					durationout: 2000;
					delayin: 2000;
					rotateyin: 60;
				">
                <h3>Ludwig Wittgenstein</h3>
                <p class="fields">Phylosophy</p>
                <p class="university">Trinity College, Cambridge</p>
                <p class="mathquote">If people never did silly things nothing <br />intelligent would ever get done.</p>
            </div>

        </div>

            <!-- Slide #5 -->
        <div class="ls-slide" style="transition2d: 2; slidedelay: 15000;">

                <!-- Background -->
            <img class="ls-bg" src='@routes.Assets.at("images/lennon.jpg")' alt="John Lennon">

            <div class="slide-caption alt ls-s1" style="up: 0px; width: 45%; slidedirection: left; slideoutdirection: left; durationin: 1000; durationout: 800; delayin: 1000; delayout: 0;" data-ls="
					offsetxin: 0;
					offsetxout: 300;
					offsetyin: top;
					offsetyout: 300;
					durationin: 2000;
					durationout: 2000;
					delayin: 2000;
					rotateyin: 60;
				">
                <h3>John Lennon</h3>
                <p class="fields">Wow, how did I get here?</p>
                <p class="university">The Beatles</p>
                <p class="mathquote">It was like being in the eye of a hurricane.<br />
                You'd wake up in a concert and think, <br />Wow, how did I get here?.</p>
            </div>

        </div>
            <!-- Slide #6 -->
        <div class="ls-slide" style="transition2d: 2; slidedelay: 15000;">

                <!-- Background -->
            <img class="ls-bg" src='@routes.Assets.at("images/cantor.jpg")' alt="Georg Cantor">

            <div class="slide-caption alt ls-s1" style="up: 0px; width: 45%; slidedirection: left; slideoutdirection: left; durationin: 1000; durationout: 800; delayin: 1000; delayout: 0;" data-ls="
					offsetxin: 0;
					offsetxout: 300;
					offsetyin: top;
					offsetyout: 300;
					durationin: 2000;
					durationout: 2000;
					delayin: 2000;
					rotateyin: 60;
				">
                <h3>Georg Cantor</h3>
                <p class="fields">Set Theory</p>
                <p class="university">University of Halle</p>
                <p class="mathquote">In mathematics the art of proposing a question must be held of higher value than solving it.</p>
            </div>

        </div>
        <div class="ls-slide" style="transition2d: 2; slidedelay: 15000;">

                <!-- Background -->
            <img class="ls-bg" src='@routes.Assets.at("images/odersky.jpg")' alt="Martin Odersky">

            <div class="slide-caption alt ls-s1" style="up: 0px; width: 45%; slidedirection: left; slideoutdirection: left; durationin: 1000; durationout: 800; delayin: 1000; delayout: 0;" data-ls="
					offsetxin: 0;
					offsetxout: 300;
					offsetyin: top;
					offsetyout: 300;
					durationin: 2000;
					durationout: 2000;
					delayin: 2000;
					rotateyin: 60;
				">
                <h3>Martin Odersky</h3>
                <p class="fields">Scala Programming Language</p>
                <p class="university">École Polytechnique Fédérale de Lausanne</p>
                <p class="mathquote">Technically, Scala is a blend of object-oriented and functional programming concepts in a statically typed language. The fusion of object-oriented and functional programming shows up in many different aspects of Scala.</p>
            </div>

        </div>


    </div>
        <!-- LayerSlider / End -->

</div>
    <!-- LayerSlider Container / End -->